body{
    margin: 0px;
    padding: 0px;
    background-image: url("https://4.bp.blogspot.com/-hlvg5gBqY4A/V5QaCnYv8kI/AAAAAAAACRs/EtkDg_zO6jwROm0yILme3F7VZJjOxyfxQCLcB/s1600/lluvia%2Bde%2Bestrellas%2B2.gif");
    background-repeat: repeat;
    font-family: "Lato", sans-serif;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}
.logo{
    width: 100%;
    float: left;
}
.left{
    width: 70%;
    float: left;
    height: 60%;
    border-radius: 24px;
}
.right{
    width: 30%;
    float: right;
    height: auto;
    border-radius: 24px;
    background: #d8dfe82e;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
.logoImg{
    width: 8%;
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.tittle{
    float: inherit;
    margin-left: 10%;
    color: #c09ada;
    font-size: 25px;
    font-weight: 800;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 24px;
}
#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
#texto{
    margin-left: 5%;
    margin-right: 5%;
}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    outline: none;
    border: none;
    font-size: 15px;
}
#btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
}
#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #d8dfe8;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height:10%;
    background: #d8dfe8;
    border-radius: 24px;
    display: none;
}

#imgFooter{
    width: 7%;
    margin-left: 31.5%;
}

#pFooter{
    font-size: 15px;
    color: #c09ada;
    font-weight: 800;
    margin-left: 20%;
}